mixin checkout-card(data, mods)
  //- Принимает:
  //- data {
  //-   url:   {string},  - адрес для ссылки
  //-   img:   {string},  - адрес картинки товара
  //-   name:  {string},  - название
  //-   descr: {string},  - описание
  //-   price: {number},  - цена
  //-   new:   {boolean}, - показать метку «новинка»
  //- }
  //- mods {string}       - модификаторы
  //- Вызов:
        +card({
          url: 'good01',
          id: 'id-1',
          uid: 'uid1',
          imgPath: 'content',
          imgName: 'content',
          imgPostfix: 'content',
          name: 'Товар1',
          descr: 'Описание1',
          value: 1,
          price: 7777,
          new: true,
        }, 'mod')
  -
    // список модификаторов
    var allMods = '';
    if(typeof(mods) !== 'undefined' && mods) {
      var modsList = mods.split(',');
      for (var i = 0; i < modsList.length; i++) {
        allMods = allMods + ' checkout-card--' + modsList[i].trim();
      }
    }
    var newLabel = (data.new !== 'undefined' && data.new) ? '<div class="checkout-card__new">Новинка!</div>' : '';
    var price = '' + data.price;
    var price = price.replace(/(\d)(?=(\d\d\d)+([^\d]|$))/g, '$1 ') + ' руб.';

  li.checkout-card(class=allMods)&attributes(attributes)
    != newLabel
    if (data.url !== 'undefined' && data.url)
      .checkout-card__inner
        a.checkout-card__img-wrap(href=data.url)
          +img(data.imgPath, data.imgName, data.imgPostfix, 150, 150, data.name).checkout-card__img
        .checkout-card__content-wrap
          header.checkout-card__header
            h3.checkout-card__title
              a(href=data.url)!= data.name
            p.checkout-card__price!= price
          if (data.descr !== 'undefined' && data.descr)
            p.checkout-card__descr!= data.descr
          footer.checkout-card__footer
            +custom-qty({
              mods: '',
              val: '1',
              attrs: {
                'name': data.id || 'quantity',
                'data-price': data.price,
                'max': '99',
                'min': '1',
                'step': '1',
              }
            })
            +btn({text: "Удалить", type: "button"}).btn--text.checkout-card__delete
    else
      .checkout-card__inner
        .checkout-card__img
          +img(data.imgPath, data.imgName, data.imgPostfix, 150, 150, data.name).checkout-card__img
        .checkout-card__content
          header.checkout-card__content-header
            h3.checkout-card__title!= data.name
            p.checkout-card__price!= price
          if (data.descr !== 'undefined' && data.descr)
            p.checkout-card__descr!= data.descr
          footer.checkout-card__content-footer
            +custom-qty({
              mods: '',
              val: data.value || '1',
              attrs: {
                'name': data.id || 'quantity',
                'data-price': data.price,
                'max': '99',
                'min': '1',
                'step': '1',
              }
            })
            +btn({text: "Удалить", type: "button"}).btn--text.checkout-card__delete
